#Package Files
*.jar
*.war
*.ear
*.class

#IDE
.idea/
*.iml

#Maven
target/
lib/
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml

#OS
.DS_Store
Thumbs.db

#Others
release.properties
buildNumber.properties